<h1>Songs</h1>
<hr />

<%= link_to 'Billboards', billboards_path %>
<%= link_to 'Artist', artists_path %>
<%= link_to 'Add New Song', new_artist_song_path %>

<br />
<ul>
<% @songs.each do |song| %>
    <li>
    <%= link_to song.name, artist_song_path(song) %>
    </li>

<% end %>

